.top-bar, .top-bar ul{
  background-color: $fmprim !important;
}

.top-bar.expanded .title-area {
  background-color: $fmprim !important;
}

.menu-text {
  color: white !important;
}

.menu a{
  color: white !important;
}